*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Poppins',sans-serif;
   
}
.logo{
  text-transform: uppercase;
  cursor: pointer;
  
  padding: 8px;
  position: absolute;
  left: 8%;
    top: 1%;
    color: white;
    z-index: 1;
    font-size: 30px;

} 


.menu {
  right: 12%;
  position: absolute;
  z-index: 1;
}
.menu ul li {
  display: inline;
  float: right;
  margin-right: 22px;
 
  
  
}
 .menu ul li a:hover
{
    background-color:#D28A00;
    color: black;
  } 
 
  li {
    float: left;
  }
  
  .menu ul li a {
    display: block;
    padding: 13px;
    background-color: #2e2e2e02;
    text-decoration: none;
    color: white;
    z-index: 1;
    font-size: 20px;
  }
.ph{
background:linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.527)), url(image/lik.jpg);
background-size: cover;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
}
.Box_all{
  display: flex ;
  background-color: white;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  height: 450px;
  position: relative;
  top: 20%;
  margin: 10% auto;
  float: left;

}

#btn-res
{
  display: inline-block;
  font-size: 1em;
  background: #D28A00;
  padding: 1px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 40px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  margin-bottom: 10px;
}
.slt{
  margin: 10px;
}
.inp{
  width:80%;
}
.formm{
  margin-left: 23%;
}

@media (max-width:1189px){
  .Box_all{
    margin: 43% auto;
  }
  .menu ul li a {
    font-size: 17px;
    padding: 0;

  }
 .logo{
   font-size: 18px;
   left: 16px;
 }
  .menu{
    right: 0;
    top: 8%;
      }
      .formm{
        margin-left: 7%;
      }
      label {
        font-size: 12px;
    }
    #btn-res {
      
      font-size: 13px; 
    }
}